.is-boxed {
  background: lighten(color(bg, 1), 4%);
}

.body-wrap {
  background: color(bg, 1);
  overflow: hidden;
  /* Sticky footer */
  display: flex;
  flex-direction: column;
}

.boxed-container {
  width: 100%;
  margin: 0 auto;
  @include shadow;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

.section-inner {
  position: relative; /* To always display inner elements above pseudo decorative stuff */
  padding-top: 64px;
  padding-bottom: 64px;
}

@include media('>medium') {
  .section-inner {
    padding-top: 88px;
    padding-bottom: 88px;
  }
}
